# Ignore Capstone/Step2-EDA files
/2-EDA/.ipynb_checkpoints/
/2-EDA/refs/
/2-EDA/compare_BDC-GEE_extraction.qgz
/2-EDA/masksCollage.qgz
/2-EDA/playingWithMasks.qgz


/5-Data_Wrangling/.ipynb_checkpoints/
/5-Data_Wrangling/__pycache__/
/5-Data_Wrangling/data/
/5-Data_Wrangling/etc_and_tools/

